<div data-role="layout" data-id="default">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" style="padding: 0.1em .2em !important;
border-style: solid;
border-width: 1px;
border-radius: 3px;" data-rel="drawer" href="#menu" data-icon="home" data-align="left" ></a>
            <a data-role="button"  style="padding: 0.1em .2em !important;
border-style: solid;
border-width: 1px;
border-radius: 3px;" href="#bantuan" data-transition="none" data-icon="help" data-align="right"></a>


        </div>
    </header>
</div>